body{
    background-color: #c4c4d0; font-family: arial;
}


#contacto {
  background-color: #D6DAEA;
  float: center;
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 20px;
}

#contacto li{
  list-style: none;
  padding: 6px;
  margin: 10px;
  text-align: left;
}

.titulos{
  font-size: 20;
  text-align: center;
  
}
#mensajeContacto{
  padding: 10px;
  margin: 10px;
  margin-bottom: 0px;
  background-color: #D6DAEA ;
  width: 90%;

}


.boton{
    background-color: #2A0C4E;
    border: 1px solid #2e518b;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    height: 35%;
    width: 15%;
    float: right;
    text-align: center;

}


#menu{
    background-color: #25291c;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a {
  color: ivory;
  display: block;
  padding: 10px 100px;
  text-decoration: none;
}
#menu ul li a:hover {
  background-color: #28004f;
}

#buscador{
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 90%;
    height: 50px;

    font-style: arial;
    color: white;
    background-color: #006ba6;
}
::placeholder {
  font-style: italic;
}

#inicioSesion{
  background-color: #006ba6;
  float: left;
  padding: 50px;
  margin: 5px;
  width: 90%;
  border-radius: 10px;
  color: white;
  clear: left;
}

#mecanico {
  background-color: #006ba6;
  float: right;
  padding: 5px;
  margin: 5px;
  clear: right;
  border-radius: 10px;
  width: 90%;
  color: rgb(12, 6, 6);
}

.bottom{
  background-color:#25291C ;
  text-decoration: none;
  list-style:none;
}


.login h1 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}
.buttons {
  width: 86.6%;
  height: 40px;
  background: #006BA6;
  border: none;
  color: white;
  margin-bottom: 16px;
}






