body {
  background-color: #c4c4d0;
  padding: 200px;
  font-family: arial;
}
.boton {
  background-color: #2a0c4e;
  border: 1px solid #2e518b;
  color: white;
  float: right;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

#menu {
  background-color: #25291c;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a {
  color: ivory;
  display: block;
  padding: 10px 100px;
  text-decoration: none;
}
#menu ul li a:hover {
  background-color: #28004f;
}

aside {
  border-radius: 20px;
  margin: 10px;
  padding: 4px;
  width: 30%;
  height: 25px;
  padding-left: 20px;
  margin-left: 20px;
  float: right;
  font-style: arial;
  color: white;
  background-color: #006ba6;
}
::placeholder {
  font-style: italic;
}

fieldset {
  background-color: #006ba6;
  float: right;
  padding: 50px;
  width: 375px;
  border-radius: 20px;
  color: white;
  clear: right;
}

#mecanico {
  background-color: #006ba6;
  float: right;
  padding: 50px;
  clear: right;
  border-radius: 20px;
  width: 375px;
  color: white;
}
.login h1 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}
.buttons {
  width: 86.6%;
  height: 40px;
  background: #006BA6;
  border: none;
  color: white;
  margin-bottom: 16px;
}

