body{
    background-color: #c4c4d0; padding: 200px; font-family: arial;
}
.boton{
    background-color: #2A0C4E;
    border: 1px solid #2e518b;
    color: white;
    float: right;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

#menu{
    background-color: #25291c;
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color: ivory;
    display: block;
    padding: 10px 100px;
    text-decoration: none;
}
#menu ul li a:hover{
    background-color: #28004f;

}

aside{
    border-radius: 20px;
    margin: 10px;
    padding: 4px;
    width: 30%;
    height: 25px;
    padding-left: 20px;
    margin-left: 20px;
    float: right;
    font-style: arial;
    color: white;
    background-color: #006ba6;
}
::placeholder{
    font-style: italic;
}

fieldset{
    background-color: #006ba6;
    float: right;
    padding: 50px;
    width: 375px;
    border-radius: 20px;
    color: white;
    clear: right;

}

#mecanico {
    background-color: #006ba6;
    float: right;
    padding: 50px;
    clear: right;
    border-radius: 20px;
    width: 375px;
    color: white;
}
/* Carusel */

.container{
    margin: auto;
    width: 700px;
    padding: 30px;
    float: left;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      background:white;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
  }
  
  ul.slider li img{
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  ul.slider li label{
    width: 100%;
    height: 400px;
    transition: opacity .5s;
  }
  
  ul.slider li:first-child {
      opacity: 1;
  }
  
  ul.slider li:target {
      opacity: 1; 
  }
  
  .botones{
    text-align: center;
    margin: 120px;
  }
  
  .botones li{
    display: inline-block;
    text-align: center;
  }
  
  .botones li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #28004f;
    padding: 7px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-family: arial;
    border-radius: 100%;
  }